/* <a href="/" class="animated-button1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LOGOUT
            </a> */

/* 
.animated-button1 {
    background: linear-gradient(-30deg, #edeeee 50%, #94e580 50%);
    padding: 5px 10px;
    margin: 32px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #111111;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button1::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
  }
  
  .animated-button1:hover::before {
    opacity: 0.2;
  }
  
  .animated-button1 span {
    position: absolute;
  }
  
  .animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(230, 216, 29, 0)), to(#c7d926));
    background: linear-gradient(to right, rgba(202, 190, 18, 0), #85d926);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(194, 197, 10, 0), #4ad926);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  } */


/* glowing button */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -35vh;
    width: 100%;
    perspective: 1000px;
    margin-top: 1%;
}

.button-container .button-flipper {
    transition: 0.8s cubic-bezier(0.775, 0.07, 0.575, 0.995);
    transform-style: preserve-3d;
    position: absolute;
}

.button-container .button-flipper:hover {
    transform: rotateX(180deg);
}

.button-container .front-button {
    cursor: pointer;
    width: 90px;
    height: 40px;
    background-color: #232858;
    border: none;
    font-size: 14px;
    color: #fff;
    backface-visibility: hidden;
    z-index: 2;
    transform: rotateX(0deg);
    position: absolute;
    box-shadow: 0px 8px 12px #ccc;
    margin-top: -4%;
    margin-left: 760%;
}

.button-container .back-button {
    cursor: pointer;
    width: 90px;
    height: 40px;
    background-color: #26C281;
    border: none;
    font-size: 14px;
    color: #fff;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
    position: relative;
    box-shadow: 0px 8px 12px #ccc;
    margin-top: -4%;
    margin-left: 760%;
}
.bckbtn{
    color: #fff;
}